@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $space-1;
  position: relative;
  width: 100%;

  :global(.cn-multiselect__control) {
    border-radius: $radius-sm;
    font-size: $font-size-sm;
  }
}

.selectError :global(.cn-multiselect__control) {
  border-color: var(--color-danger);
}

.wrapper :global(.cn-multiselect__input) {
  background-color: transparent !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
}

.wrapper :global(.cn-multiselect__input-container) {
  background: transparent;
}

.label {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: var(--color-text-secondary);
  margin-bottom: 2px;
}

.error {
  font-size: $font-size-xs;
  color: var(--color-danger);
  margin-top: 2px;
}
